@use './../../abstracs/mixins' as *;
@use './../../abstracs/variables' as *;

//Inicio del main

.main {
    max-width: 100%;
    margin-top: 5%;
}

//Inicio de la unica sección

.pasteles-grid {
    max-width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13%, 30%));
    grid-template-areas: 
    "title-pastel title-pastel title-pastel"
    "pastel-1       pastel-2     pastel-3  "
    "pastel-4       pastel-5     pastel-6  "
    ;
    gap: 2%;

    .title-pastel {
        grid-area: title-pastel;
        color: $color-1;
        font-size: 1.96rem;
        margin-bottom: 2%;
    }

    .pastel-1 {
        grid-area: pastel-1;
    }
    .pastel-2 {
        grid-area: pastel-2;
    }
    .pastel-3 {
        grid-area: pastel-3;
    }
    .pastel-4 {
        grid-area: pastel-4;
    }
    .pastel-5 {
        grid-area: pastel-5;
    }

    .pastel {
        max-width: 100%;
        text-align: center;
        img{
            width: 80%;
            transition: all 2s;
            &:hover{
                transform: scale(1.1, 1.1);
            }
        }
    }

    //Estilos de los sabores de los pasteles, precios, adornos

    .info-pastel{
        h2 {
            margin-top: 1%;
            color: $color-1;
            font-size: 1rem;
            text-align: start;
        }

        p, li {
            font-size: .8rem
        }

        ul {
            margin:0 5% 2% 0;
            text-align: start
        }

        //Caja donde esta los precios y tipo de pastel

        .precio {
            @include flex(flex, center, none, row, wrap);

            p {
                margin: 1.5%;
                font-weight: bolder;
            }
        }
        
    }
}

//version movil

@media screen and (max-width: 600px) {
    //Pasteles en movile

    .pasteles-grid {
        @include flex(flex, center, none, column, wrap);
       
        .info-pastel {
            @include flex (flex, center, none, column, wrap);
            max-width: 100%;
            margin: auto;

            //precios y tipo de pastel
            .precio {
                display: flex;
                min-width: 50%;
            }
        }
        .title-pastel {
            font-size: 1rem;
        }
    }
}