@use './../abstracs/mixins' as *;
@use './../abstracs/variables' as *;
.main-creatupastel {
    @include flex(flex, center,center, column, wrap);
    margin-top: 5%;
    background-color: $color-1;

    .info-pastel {
        margin: 5% 0;
        h2, p {
            color: $color-text;
        }
    }

    a {
        border: solid;
        margin-bottom: 5%;
        color: $color-1;
        background-color: $color-4;
        border-radius: 10px;
        padding: 2%;
        transition: all 1s;

        &:hover {
            color: $color-negro;
            border-radius: 10px;
        }
    }

    img{
        width: 30%;
        margin-top: 3%;
    } 
}