@use './../../abstracs/mixins' as *;
@use './../../abstracs/variables' as *;

.main {
    max-width: 100%;
}

.info-personal {
    max-width: 100%;
    form {
        @include flex(flex, none, center, column, wrap);
        max-width: 50%;
        margin: auto;

        label {
            margin-top: 2%;
            color: $color-1;
            font-size: 1rem;
            font-weight: bolder;
        }

        .btn-pago {
            max-width: 20%;
            margin: 2% auto;
            padding: 2%;
            border-radius: 7px;
            border: transparent;
            background-color: $color-1;
            color: $color-text;
            font-size: .9rem;
        }
    }
    
}